<div class="container my-5">
    <h1 class="mb-3">Канали</h1>

    <table class="table" *ngIf="channels && channels.length > 0">
        <thead>
            <tr>
                <th>Id</th>
                <th>Назва</th>
                <th>Кількість підписників</th>
                <th>Коефіцієнт проросійськості</th>
                <th> </th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let channel of channels">
                <td>{{ channel.id  }}</td>
                <td>{{ channel.name  }}</td>
                <td>{{ channel.subscribersNumber  }}</td>
                <td>{{ channel.prorussianCoef  }}</td>
                <td><a [routerLink]="['/channels', channel.id]">Переглянути</a></td>

            </tr>
        </tbody>
    </table>
    <p *ngIf="!channels || channels.length <= 0">Не знайдено каналів/p>
</div>