<div class="col-md-8 offset-md-2">
    <h4>Наша команда створила унікальний в своєму роді веб-додаток, що допомагає мільйонам людей аналізувати свій інфопростір і виявляти небезпечні тенденції в Телеграм-каналах, інформацію з яких вони споживають.</h4>
    <h4>Модель розрахунку проросійськості, створена нами, навчена на більш ніж 361 тисячі унікальних постів, вона має точність вище 85%, а швидкість менше 10 секунд!</h4>

    <h4>Також створено <a href='https://t.me/PSYOP_main_bot'>Telegram-бот</a>, де Ви можете залишити відгук про нашу роботу.</h4>
</div>